table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black; 
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 border-right: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
td {
    padding-top: 12px;
    padding-bottom: 12px;
}